*{
    margin: 0;
    padding: 0;
}

.nav-bar {
    width: 100%;
    background-color:dodgerblue;
    color: white;
}
.nav-bar>h1 {
    padding: 30px;
    font-family: sans-serif;
    font-size: 30px;
}

.locate{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.locate>input{
    padding: 15px;
    border-radius: 50px;
    font-size: 18px;
    border: solid rgb(9, 8, 8) 2px;

}


.footer1{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    text-align: center;

}
.footer1 a{
    text-decoration: none;

}